html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: #f7f9fb;
  font-family: 'Lora', serif;
}

input {
  font-family: 'Lora', serif;
}

.app {
  max-width: 1272px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .app {
    padding: 0 32px;
  }
}

/* main page */

.list-books-title {
  padding: 80px 10px 32px;
}

@media (min-width: 600px) {
  .list-books-title  {
    padding: 80px 20px 32px;
  }
}

.list-books-title h1 {
  font-weight: 400;
  margin: 0;
}

.list-books-title p {
  margin: 0 0 8px;
  color: rgba(0,0,0, .7);
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  padding-bottom: 16px;
  font-size: 16px;
  margin-bottom: 32px;
  color: rgba(0,0,0, .7);
  position: relative;
}

.bookshelf-title span {
  background-color: #f7f9fb;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-right: 16px;
}

.bookshelf-title::after {
  content: '';
  border-bottom: 1px solid rgba(0,0,0,.08);
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

.btn {
  background-color: #444;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 12px;
}

.btn:hover {
  background-color: #333;
}

/* search page */

.search-books-bar {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
}
@media (min-width: 600px) {
  .search-books-bar {
    padding: 80px 0 32px;
  }
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.search-books-bar input::placeholder {
  color: #c9c9c9;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 55px;
  background: #333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23888888' viewBox='0 0 24 24'%3E%3Cpath d='M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 0 0 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}
.books-grid li {
  padding: 16px 44px;
  text-align: left;
  background-color: #fff;
  margin: 0 16px 32px;
  box-shadow: 0 1px 2px rgba(0,0,0, .08);
  position: relative;
}

.book {
  width: 128px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 16px;
  width: calc(100% + 32px);
  margin-left: -16px;
}
.book-authors {
  color: #999;
  width: calc(100% + 32px);
  margin-left: -16px;
}

.book-top {
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 24px;
  height: 24px;
  background-image: url('./icons/arrow-drop-down.svg');
  opacity: .3;
}

.book-shelf-changer:hover {
  opacity: 1;
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  background: #eee;
  border-radius: 3px;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}


/* CSS Loader */
.loader {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(0,0,0, .3);
  border-radius: 50%;
  border-top-color: #333;
  animation: spin .8s ease-in-out infinite;
  -webkit-animation: spin .8s ease-in-out infinite;
  position: relative;
  top: 2px;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.bookshelfLoading {
  text-align: left;
}